<!DOCTYPE html>
<html>
  <head>
    <title>Yapol</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <%= render "/shared/navbar" %>
      <% if notice.present? %>
      <div class="alert alert-success">
        <strong id='notice'><%= notice %></strong>
      </div>
      <% end %>
      <% if alert.present? %>
      <div class="alert alert-danger">
        <strong><%= alert %></strong> .
      </div>
      <% end %>




<div class="row text-center" >
  <div class="col-sm-3">
    <div id="list-example" >
      <ul>
        <li><%= link_to 'Pagina Principal', root_path,class:"  text-danger list-group-item list-group-item-action" %> </li>
        <% if user_signed_in? %>
            <li><%= link_to 'Ver Mis Productos', products_path,class:"  text-danger list-group-item list-group-item-action" %> </li>
            <li><%= link_to 'Ver Productos Vendidos', vendidos_products_path,class:"  text-danger list-group-item list-group-item-action" %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-8" >
      <%= yield %>
  </div>
</div>


<!--
<div class="container">
    <%= yield %>
</div> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
